.introduction-section {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
  }
  
  .intro-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .intro-text p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color: #555;
    font-family: 'Kanit';
  }
  